#color-picker-container {
    height: 354px;
    flex-direction: column;
}

#color-picker-text {
    height: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    color: var(--white);
    padding-top: 16px;
}

#output-rgb {
    margin-right: auto;
}

#output-hex {
    margin-left: auto;
}

#picker-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 290px;
}

#picker-canvas {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#hue-container {
    margin-top: 12px;
    width: 100%;
}

#hue-canvas {
    cursor: pointer;
    width: 100%;
    height: 36px;
}